.sidebar {
    height: 100vh;
    box-shadow: 1px 1px 2px #eee;
    width: 60px;
    position: fixed;
    background: #fff;
    z-index: 3;
}

.sidebar .nav-item {
    margin-bottom: 1rem;
}

.icon {
    font-size: 24px;
}
.main-layout{
    position: relative;
    left: 60px;
    width: calc(100vw - 90px);
    overflow-x: hidden;
}